/* Colors used:
Primary: #00818f
Secondary:#00344f
Background grey:#f8f8f8
Background black: #4a4a4a
Background white: #ffffff
Header text: #4a4a4a
Body Text: #4a4a4a
H1: Playfair Display
H2: */

/* Notes on structure:
Cascades top to bottom
<p> p{} 
class=apple .apple{}
id=banana #banana{}
Priority bottom to top

<div> defaukt display = block; becomes container class
<span> default display = inline; becomes text class
<img> default =inline
<a> default = inline
*use inline-block when you want vertical and horizontal control. If you don't need to do this then just use inline.

Position:
'Static' is default
'fixed' is relative to viewport and removes it flow. Controlled by top: 2px; right: 2px etc
'absolute' positions it to nearest relative with a position set, removes it from flow
'relative' moves it relative to natural position (also cascades)
'float' re-orders left or right.
clear: left, both, right.

#float-boxes div: nth-child (4)

class=flex can be assigned to container
display: flex 

Task:
box-sizing: border-box

 display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; 
     align-items: center;
*/

/*Main page structure*/
body {
    font-family:'Lato', sans-serif ;
    background-color: #ffffff;
    font-size: 16px;
    max-width: 1000px;
    margin: 0 auto; 
}
main {
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
   
}
footer {
    border: 1px solid #4a4a4a;
     padding-left: 10px;
    padding-right: 10px;
}

header {
    background-color: pink; 
    padding: 4px;
    border: 1px solid #4a4a4a;
    position: fixed;
    width: auto;

}

/*Container class styling*/

/*Container systems*/
.container {
    border: 1px solid #4a4a4a;
    display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	padding: 10px;
}
div.hero {
    display: block;
    width: auto;
     border: 1px solid #4a4a4a;
}

/*Text and images*/

h1 {
    font-size: 40px;
    line-height: 1.1;
    color: #4a4a4a;
}

h2 {
    font-size: 22px;
    line-height: 1.5;
    color: #4a4a4a
}

h3 {
    font-size: 16px;
    line-height: 2;
    color: #4a4a4a;
    font-weight: bold;
}

li,
p {
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    color: #4a4a4a;
}

img {
    width: 100%;
}

a {
    color: #4a4a4a;
    line-height: 1.1;
    text-decoration: none
}

a:hover {
    color: #00344f;
    font-weight: bold;
}

a:focus {
    color: #4a4a4a;
    font-weight: bold;
    outline: 2px solid #8f60ca;
}

.logo {
    max-width: 42px;
  }

#index-hero {
  display: inline-block;  
  margin: 0px;
  padding: 10px;
  width: 50%;

}
#social-links {
    display: inline-block;
    width: 38px;
}

/*Buttons*/
.primary-button {
    display: inline-block;
    background-color: #00344f;
    border: 1.5px solid #00344f;
    color: white;
    font-weight: regular;
    padding: 12px 20px;
    text-align: center;
    border-radius: 12px;
}

.primary-button:hover {
    display: inline-block;
    background-color: #ffffff;
    color: #4a4a4a;
    border: 1.5px solid #00344f;
    font-weight: regular;
    padding: 12px 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
}




